<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         version="3.0">

    <servlet>
        <servlet-name>SvProcesarFormulario</servlet-name>
        <servlet-class>servlets.SvProcesarFormulario</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SvProcesarFormulario</servlet-name>
        <url-pattern>/SvProcesarFormulario</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PerfilUsuario</servlet-name>
        <servlet-class>servlets.PerfilUsuario</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PerfilUsuario</servlet-name>
        <url-pattern>/PerfilUsuario</url-pattern>
    </servlet-mapping>

</web-app>
